body {
    background-image: url("http://www.wallpapermania.eu/images/lthumbs/2014-01/6671_Beautiful-white-nature-sunlight-over-the-snow.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.display-4 {
    font-weight: bold;
    font-family: 'Pacifico',cursive;

}

form {
    font-weight: bold;
}

textarea {
    color: black;
}

label {
    font-family: 'Pacifico',cursive;
    font-size: 30px;
}

input[type="text"] {
    background: transparent;
    width: 90%;

}

input[value="Add Book"] {
    font-family: 'Pacifico',cursive;
    border-radius: 20px;
    font-weight: bold;
}

th {
    font-family: 'Pacifico',cursive;
}

td {
     font-family: 'Pacifico',cursive;

}
