body {
    background-image: url("https://images.unsplash.com/photo-1594312915251-48db9280c8f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTl8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.display-4 {
    font-weight: bold;
    font-family: 'sans-serif';

}

form {
    font-weight: bold;
}

textarea {
    color: black;
}

label {
    font-family: 'sans-serif';
    font-size: 20px;
}

input[type="text"] {
    background: transparent;
    width: 90%;

}

input[value="Add Book"] {
    font-family: 'sans-serif';
    border-radius: 20px;
    font-weight: bold;
}

th {
    font-family: 'sans-serif';
}

td {
    font-family: 'sans-serif';

}

.span {
    color: white;
}
